* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bordered {
  border: 2px solid red;
}
.row {
  display: flex;
  align-items: center;
  background-color: rgb(26, 188, 156);
}
.my-bg {
  background-color: rgb(44, 62, 80);
}
.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.container .card {
  background-color: rgb(177, 91, 91);
}
